*{
    box-sizing: border-box;
}
nav{
    background-color: rgb(33, 31, 35);
}
.logout{
    /* background-color: aliceblue; */
}
/* .product-table td {
    cursor: pointer;
} */

@media screen and (max-width: 800px) {
    .image_login_signup{
        display: none;
    }
  }